.item-active {
	background: #4b77be !important;
	color: #ffffff !important;
}

.dialog-box {
	.content-box {
		position: relative;
		// .cancel-box {
		// 	width: 20px;
		// 	height: 20px;
		// 	background: #4b77be;
		// 	position: absolute;
		// 	top: -25px;
		// 	right: 20px;
		// 	z-index: 20;
		// 	color: #ffffff;
		// 	/deep/ .el-dialog__close {
		// 		font-size: 24px;
		// 		position: absolute;
		// 		top: 0;
		// 		right: 0;
		// 	}
		// }

		.content_box {
			padding: 16px;
		}
	}
}
.operate-box {
	.operate-button {
		text-align: center;
		display: inline-block;
		color: #4b77be;
		padding: 0;
	}

	.operate-button:hover {
		cursor: pointer;
		text-decoration: underline;
		color: #23527c;
	}

	.operate-button-active {
		color: #77a5cd;
	}

	.operate-button-active:hover {
		cursor: not-allowed;
		text-decoration: none;
		color: #77a5cd;
	}
}
